#back {
  background-image: url(https://images.pexels.com/photos/4062563/pexels-photo-4062563.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 30vw;
}

#btn {
  background-color: rgba(0, 191, 255, 0.6);
}
